.homeContainer{
    flex-direction: column; /* because of this i want all the item should be vertical*/
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap:30px;
}
.homeTitle{
    width:1024px;
    font-size:20px;
}